<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Technologies</title>
<link rel="stylesheet" href="technologies.component.scss">


<header>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/technologies">Technologies</a></li>
      <li><a routerLink="/projects">Projects</a></li>
    </ul>
  </nav>
</header>

<section>
  <p><i>Page under construction.</i></p>
  <p><i>Thank you for your understanding.</i></p>
</section>

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>About</h3>
        <p><a [routerLink]="['/about']">My Resume</a></p>
        <p><a [routerLink]="['/technologies']">Technologies</a></p>
        <p><a [routerLink]="['/projects']">Projects</a></p>
      </div>
      <div class="footer-column">
        <h3>Services</h3>
        <p>Data Science</p>
        <p>Profile Builder</p>
        <p>Applications</p>
      </div>
      <div class="footer-column">
        <h3>Contact</h3>
        <p>Email: james.f.logan2&#64;gmail.com</p>
        <p>Phone: <i>Redacted</i></p>
        <p>Location: Austin, TX</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 ProfileMe™. All rights not reserved. Personality likeness is of no genuine indication of figures or their opinions.</p>
      <p>Data accuracy not guaranteed</p>
      <p><a href="#" class="footer-link" data-alert="We collect no data from our users. Usage of this site infers understanding of our terms of service.">Privacy Policy</a> |
        <a href="#" class="footer-link" data-alert="ProfileMe claims no ownership over displayed assets from our web view. Statements shown are not representative of any personality or company. ProfileMe reserves rights under 'Fair Use.' Furthermore, the user understands this project is not sponsored or affiliated with any genuine company or identity.">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>

<script>
  var learnMoreLinks = document.querySelectorAll('.footer-link');

  learnMoreLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var alertMessage = this.dataset.alert;
      alert(alertMessage);
    });
  });
</script>