:host {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  }
  
  header {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  nav {
    background-color: #525252;
    padding: 10px;
    padding: .5rem 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
    padding-top: 2px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    // font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 11px;
  }
  
  nav ul li a:hover {
    background-color: #34495e;
  }
  
  section {
    padding: 50px;
    background-color: #f9f9f9dc;
    min-height: 400px;
    text-align: center;
    align-content: center;
  }

  section p {
    color: #666;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 150px;
  }
  
  .footer-column {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    margin: 0;
    line-height: 1.5;
  }
  
  .footer-bottom {
    text-align: center;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #272ad6;
    text-decoration: underline;
  }