@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #525252;
  height: 25px;
  padding: .75rem 0;
}

nav {
  margin: 0 auto;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  padding-top: 1px;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 3px;
  padding-bottom: 10px;
  border-radius: 3px;

  &:hover, &.active {
    background-color: #34495e;
  }
}

section {
  padding: 75px;
  background-color: #f9f9f9;
  text-align: center;
}

section h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

section p {
  color: #665;
  line-height: 1.6;
}

section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.profile-selector {
  background-color: #f0f0f0;
  padding: 55px 0;
  font-size: 1.5rem;
  color: #333;
  
  .container-profile {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 10px 20px;
      background-color: #34495e;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.2s, transform 0.1s;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #0056b3;
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  .or-text {
    margin: 0 10px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: linear-gradient(to bottom right, #ffffff, #535353);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px;
    mask-composite: exclude;
    pointer-events: none;
  }

  .modal-content {
    padding: 20px;

    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
      font-size: 1.5rem;
    }

    input {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: #1b79df;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
      }
    }

    .modal-buttons {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.2s;

        &:first-of-type {
          background-color: #5a6268;
          color: white;
          margin-right: 10px;

          &:hover {
            background-color: #34495e;
          }
        }

        &:last-of-type {
          background-color: #1b79df;
          color: white;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}

.background-story {
  background-color: #f5f5f5;
  padding: 40px 0 60px;
  
  .container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: center;
  }

  .journey-timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }

  .timeline-item {
    text-align: center;
  }

  .timeline-icon {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .timeline-icon-2 {
    width: 93px;
    height: 93px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .timeline-arrow {
    font-size: 2rem;
    color: #666;
    margin: 0 -450px;
  }

  .journey-description {
    color: #666;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 20px;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.container2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;

  .custom-h3 {
    color: #333;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }
}

.container_banner {
  background-image: url('banner.png');
  background-color: #525252;
  background-position: center;
  min-height: 150px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  padding-top: -1px;
}

.hero h1 {
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.testimonial {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.testimonial p {
  font-style: italic;
  color: #777;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

form {
  text-align: left;
}

form label,
form textarea {
  display: block;
  width: 100%;
}

form textarea {
  height: 100px;
}

section p {
  color: #666;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

section p.label {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #575656;
}

section img {
  max-width: 100px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 150px;
}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  margin: 0;
  line-height: 1.5;
}

.footer-bottom {
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #272ad6;
  text-decoration: underline;
}